.modularity-mod-posts,
.mod-posts,
.breadcrumbs-wrapper + .grid .grid--columns {
  background: #13649A;
  background: linear-gradient(-12deg, #13649A 0%, #54B3E4 100%);
}

.modularity-mod-posts .grid,
.mod-posts .grid,
.breadcrumbs-wrapper + .grid .grid--columns {

    margin-left: 0;
    margin-right: 0;

    > [class*="grid-"]  {
      padding: 0;
      margin-bottom: 0 !important;
      position: relative;

      &:before {
        display: block; 
        content: "";
        padding-bottom: 100%; 
      }

    }

    > [class*="grid-"] + [class*="grid-"] {
      &:after {
        content: ""; 
        position: absolute;
        top: 0;
        left: -2px;
        bottom: 0;
        width: 4px;
        background: #fff;
      }
    }
}


.box-post-brick {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px*2;
  transition: all 500ms;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  &:hover .box-content,
  &:hover .box-post-brick-lead {
    transform: translateY(-5%);
  }

  &:hover .post-title:before {
    width: 100%;
  }

  br {
    display: none;
  }
  
  .post-title {
    font-size: 2.6em;
    font-weight: bold;
    position: relative;

    &:before {
      transition: width 200ms;
      content: "";
      width: 0%;
      height: 4px;
      background: #fff;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .post-title:after {
    content: ".";
  }

  .box-post-brick-lead,
  .box-content {
    flex: none;
    opacity: 1;
    transform: none; 
    position: relative;
    height: initial;
    text-align: center;
    font-size: 1.1em;
  }

  .box-post-brick-date {
    display: none; 
  }

  .box-post-brick-lead:after {
    display: none; 
  }
}