.grid:not(.section-submodules) .modularity-mod-posts,
.grid:not(.section-submodules) .mod-posts {
  @include gradientbg(); 
}

.box:not(.box-news-horizontal):not(.box-panel-secondary):not(.box-news-circular) {
  border-radius: 0 !important;
}

&.post-type-archive .breadcrumbs-wrapper + .grid .grid--columns > [class*="grid-"]  {
  @include gradientbg();

  .box-post-brick {
    border: 2px solid $color-white;
  }

  .box-content,
  .box-post-brick-lead {
    text-align: left; 
  }

  .box-post-brick .post-title {
    font-size: 1.5em;
  }
}

.mod-posts {
  [class*="grid-"]+ [class*="grid-"] {

    @media only screen and (min-width: 896px) { 
      border-left: 2px solid $color-white;
    }

    
  }

  [class*="grid-"] {
    @media only screen and (max-width: 896px) { 
      border: none; 

      .box-post-brick {
        width: calc(100% - #{$base*6});
        margin: $base*3;
        @include gradientbg(); 
        box-shadow: 0 0 1em rgba($color-black, .2);
      } 
    }
  }
}

.modularity-mod-posts .grid,
.mod-posts .grid,
&.post-type-archive .breadcrumbs-wrapper + .grid .grid--columns {

    margin-left: - ($base/2);
    margin-right: - ($base/2);

    > [class*="grid-"]  {
      padding: 0;
      margin-bottom: 0 !important;
      position: relative;

      &:before {
        display: block; 
        content: "";
        padding-bottom: 100%; 
      }

    }
}

.grid > [class*="grid-"]:nth-child(odd) > .box-post-brick,
.grid > [class*="grid-"]:nth-child(even) > .box-post-brick {
  background-color: transparent;
}

/* The post brick */
.box-post-brick {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px*2;
  transition: all 500ms;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  &:hover .box-content,
  &:hover .box-post-brick-lead {
    transform: translateY(-5%);
  }

  &:hover .post-title:before {
    width: 100%;
  }

  br {
    display: none;
  }
  
  .post-title {
    font-size: 2.6em;
    font-weight: bold;
    position: relative;
    line-height: 120%;
    padding-bottom: 8px;

    &:before {
      transition: width 200ms;
      content: "";
      width: 0%;
      height: 4px;
      background: #fff;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .post-title:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .box-post-brick-lead,
  .box-content {
    flex: none;
    opacity: 1;
    transform: none; 
    position: relative;
    height: initial;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
  }

  .box-post-brick-date {
    display: none; 
  }

  .box-post-brick-lead {
    max-height: 56px;
    overflow: hidden;
  }

  .box-post-brick-lead:after {
    display: none; 
  }
}