.sidebar-left-sidebar [class^="widget_"]:not(.widget_calendar), 
.sidebar-right-sidebar [class^="widget_"]:not(.widget_calendar),
.sidebar-left-sidebar .box.box-filled,
.sidebar-right-sidebar .box.box-filled { 
  background: none;
  padding: 0;

  h1, h2, h3, h4, h5, h6,
  .box-title {
    padding: 0;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px*2;

    color: $color-pimary-dark; 
    
  }
}


.sidebar-left-sidebar [class^="widget_"]:not(.widget_calendar) ul, 
.sidebar-right-sidebar [class^="widget_"]:not(.widget_calendar) ul,
.sidebar-right-sidebar .widget_search,
.sidebar-left-sidebar .widget_search,
.box.box-filled .box-content {
  @include gradientbg(); 
  padding: 40px;
}