/* Header */ 
$headerHeight: 140px;
$logotypeHeight: 54px;
#site-header.site-header {

  animation: fade-in;

  .nav-group-overflow {
    width: calc(100% + 10vw);
    margin-left: -10vw;
    display: block;
    > ul {
      width: 100%;
      display: block;
    }
  }

  .navbar {
    background: $color-white;
    color: $color-black; 
    
    // max-height: ($headerHeight/6)*5;
  }

  .navbar-mainmenu .grid-sm-12.grid-md-4 {
    max-width: 100%;
    flex: 1;
  }

  .navbar nav.nav-group-overflow > ul > li + li {
    padding-left: 8px * 4 !important;
  }

  .navbar .container { 
    max-width: 999999px;
  }

  .navbar .nav-group-overflow {
    max-height: $headerHeight;
  }

  .navbar nav > ul > li,
  .dropdown {
    line-height: $headerHeight; 
    height: 100%;
    vertical-align: text-top;
  }

  .dropdown {
    margin-top: 0;

    ul {
      line-height: 120%; 

      li a {
        padding: 8px;
      }
    }
  }

  .navbar nav > ul > li > a {
    position: relative;
    font-weight: 500;
    color: $color-black;
    height: auto;
    line-height: 240%;
    padding: 0 $base;
    
    &:hover {
      color: $color-pimary-dark;
      text-decoration: none;
    }

    &:after {
      display: none;
    }

    &:before {
      transition: opacity 200ms, 
                  // transform 0ms,
                  width 200ms;
      opacity: 0;
      content: "";
      width: 0%;
      height: 2px;
      background: $color-pimary-dark;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0px);
      position: absolute;
    }

    &:hover:before {
      width: 100%;
      transform: translate(-50%, 0);
      opacity: 1;
    }

    &:hover,
    &:active, 
    &:visited, 
    &:focus {
      text-decoration: none;
    }
  }

  .navbar nav > ul > li.current-menu-item > a {
    color: rgba($color-black, .6);
    text-decoration: none;
  }

  .navbar nav > ul > li.current-page-ancestor > a {
    text-decoration: none;
  }

  .logotype, 
  .logotype {
    margin: ($headerHeight - $logotypeHeight)/2 0;
    padding: 0;
    position: relative;
    max-width: 190px;
    
    svg, img {
      height: $logotypeHeight; 
    }

  }

  .dropdown {
    display: none !important;
  }
}