.section.text-color-light .box.box-panel {
  background: none; border
  .box-title {
    color: #fff; 
    background-color: transparent;
  }

  ul {
    background-color: transparent;
    border: none;
  }

  ul li {
    padding: 0;
  }

  ul li .link-item {
    left: 0;
    max-width: 70%;
  }

  ul li .link-item:before {
    display: none;
  }

  ul li a {
    color: #fff;
    padding: 8px 0;
  }

  ul li + li {
    border-top: none !important;
  }

  .read-more {
    display: inline-block;
    background: none;
    border: 2px solid $color-white;
    color: $color-white; 
  }

  
}