/* Trigger */
.site-header.header-casual .menu-trigger,
.site-header.header-jumbo .menu-trigger,
.site-header.header-contrasted-nav .menu-trigger {

  margin: ($headerHeight - 28px)/2 0;

  &:before {
    content: "MENY";
    color: $color-pimary-dark;
    padding: 0 8px; 
    font-weight: bold;
  } 

  .menu-icon,
  .menu-icon:after,
  .menu-icon:before {
    background: $color-pimary-dark;
  }

  &.open .menu-icon {
    background: transparent;

    &:after,
    &:before {
      background: $color-pimary-dark;
    }
  }
}

/* Menu */

.nav-mobile-menu {

  .nav-mobile {
    @include gradientbg(); 

    > ul {
      max-width: 600px;
      margin: 0px auto;
      padding: 60px 0;
    }

    > ul > li > a {
      font-size: 1.2em;
    }

    > ul > li.is-expanded > a {
      text-decoration: underline;
    }

    .sub-menu {
      border: 1px solid rgba($color-white, .3);
      margin: 14px;
      border-radius: 4px;
      position: relative;
      background: $color-pimary-dark;
      box-shadow: 0 0 2em rgba($color-black, .3);

      &:before {
        content: "";
        border: 1px solid rgba($color-white, .3);
        border-bottom: none;
        border-left: none;
        transform: rotate(-45deg) translate(13px, 0px);
        position: absolute;
        top: 0;
        left: $base*2;
        width: $base*2;
        height: $base*2;
        background-color: $color-pimary-dark;
      }
    }

    .current-menu-item {
      background-color: $none;
    }

    .icon {
      border: 1px solid $color-white; 
      border-top: none; 
      border-right: none;
      transform: rotate(-45deg);
      width: .5em; 
      height: .5em;

      &:after {
        display: none !important;
      }
    }
  }

  .search {
    background: $color-white;

    .input-group,
    .input-group-addon-btn {
      height: 60px;
    }

    .input-group .form-control {
      height: 60px;
      box-shadow: none;
      border: 2px solid $color-pimary-light;
      border-right: none;
    }

    .input-group-addon-btn input {
      padding: 0 8px*3;
      font-size: 1.1em;
      text-transform: uppercase;
      background-color: $color-pimary-light;
      border-color: $color-pimary-light;
    }
  }

}