.section-full.fontsize-normal {
  &.text-color-dark .section-title {
    color: $color-black; 
  }

  .section-text {
    text-align: left;
  }
}

.section-full.fontsize-large {
  &.text-color-dark .section-title {
    color: $color-primary-heading;
    font-size: calc(50px + 1vw); 
    line-height: 120%;
  }

  .section-text {
    text-align: left;
    font-size: calc(1em + 0.1vw);
  }
}

.section-full.fontsize-xlarge {
  .section-title {
    font-size: calc(50px + 3vw); 
    line-height: 115%;
  }

  .section-text {
    text-align: left;
    font-size: calc(1em + 0.2vw);
  }
}

.section-full .section-article {
  

  .section-title + .section-text {
    margin-top: 2em;
  }

  /* Width */
  .container {
    max-width: 2000px;
  }

  /* Header color */ 
  &.text-color-dark {
    .section-title {
      color: $color-pimary-light; 
    }
  }
}

.section-featured {

  .section-image {
    text-align: center;
    margin-bottom: 1em;
  }

  .section-image,
  .section-content {
    width: 100%; 
    display: block;
    flex: initial;
    max-width: 100%;

    img {
      width: auto;
      height: 180px;
    }
  }

  .section-article {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-split {
  background-color: $color-grayish;
  .section-title {
    font-weight: 900;
  }
  .section-article {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-split.padding-lg {

  .section-article {
    padding: 8px*8; 
  }

  .section-title {
    color: $color-black;
    border-bottom: 1px solid $color-black;
    padding: 0 0 8px*2 0;
    margin: 0 0 8px*3 0;
  }
}

.grid + .grid.section-submodules {
  margin-top: 0;
}