.section.effect-inner-shadow {
  @include gradientbg(135deg,true); 
  &:after {
    box-shadow: none;
  }
}

.section.text-color-dark .section-article .ul,
.section.text-color-dark .box-panel-secondary .box-title {
  border-bottom: 1px solid $color-black;
}

.section.text-color-light .section-article .ul,
.section.text-color-light .box-panel-secondary .box-title {
  border-bottom: 1px solid $color-white !important;
}

.section.padding-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.section-full.fontsize-normal {
  &.text-color-dark .section-title,
  &.text-color-dark .box-panel-secondary .box-title {
    color: $color-black; 
    font-size: 2em;
  }

  &.text-color-light .section-title,
  &.text-color-light .box-panel-secondary .box-title {
    color: $color-white; 
    font-size: 2em;
  }

  .section-text {
    text-align: left;
  }
}

.section-full.fontsize-large {
  &.text-color-dark .section-title {
    color: $color-primary-heading;
    font-size: calc(50px + 1vw); 
    line-height: 120%;
  }

  .section-text {
    text-align: left;
    font-size: calc(1em + 0.1vw);
  }
}

.section-full.fontsize-xlarge {
  .section-title {
    font-size: calc(50px + 3vw); 
    line-height: 115%;
  }

  .section-text {
    text-align: left;
    font-size: calc(1em + 0.2vw);
  }
}

.section-full .section-article {
  
  .section-title + .section-text {
    margin-top: 2em;
  }

  /* Width */
  .container {
    max-width: 2000px;
  }

  /* Header color */ 
  &.text-color-dark {
    .section-title {
      color: $color-primary-heading; 
    }
  }
}

.section-full {
  .box.box-panel {
    max-width: 800px;
    margin: 0 auto;
  }
}

.modularity-mod-section-featured + .modularity-mod-section-featured {
  margin-top: $base*10; 
}

.section-featured {

  .section-image {
    text-align: center;
    margin-bottom: 1em;
  }

  .section-image,
  .section-content {
    width: 100%; 
    display: block;
    flex: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    img {
      width: auto;
      height: 180px;
    }
  }

  .section-article {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.section-split {
  background-color: $color-grayish;
  .section-title {
    font-weight: 900;
  }
  .section-article {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-split.padding-lg {
  .section-article {
    padding: $base*8; 

    @media only screen and (max-width: 768px) { 
      padding: $base*4; 
    }
  }

  .section-title {
    padding: 0 0 8px*2 0;
    margin: 0 0 8px*3 0;
    font-weight: 600;
    font-size: 1.8em;
  }
}

.section-split.text-color-light.padding-lg {
  @include gradientbg(135deg,true); 
  .section-title {
    border-bottom: 1px solid $color-white;
    color: $color-white;
  }
}

.section-split.text-color-dark.padding-lg {
  @include gradientbg(135deg,true); 
  .section-title {
    border-color: $color-black;
    border-bottom: 1px solid $color-black;
  }
}

.grid + .grid.section-submodules {
  margin-top: 0;
}

.section-full.padding-md {
  padding-top: 5vh; 
  padding-bottom: 5vh; 
}