@import 'master';

.is-child-theme {

	$color-pimary-light: #54B3E4; 
	$color-pimary-dark: #13649A; 
	$color-primary-heading: rgb(2,149,218);

	h1, h2 {
		color: #54B3E4 !important; 
		background: -webkit-linear-gradient(darken($color-primary-heading,2%), $color-primary-heading);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h3, h4, h5, h6 {
		color: #000;
	}

	.grid {
		margin-left: -32px;
		margin-right: -32px;

		> * {
			padding-left: 32px; 
			padding-right: 32px;
		}
	}

	@import 'components/article';
	@import 'components/pagefooter';
	@import 'components/header';
	@import 'components/footer';
	@import 'components/slider';
	@import 'components/section';
	@import 'components/text';
	@import 'components/button';
	@import 'components/fillbox';
	@import 'components/breadcrumb';
	@import 'components/brick';
}

