@import 'master';

.is-child-theme {

	$color-pimary-light: #CD4697; 
	$color-pimary-dark: #6C1D7E; 
	$color-primary-heading:#A30083;
	$color-black: #000; 
	$color-white: #fff; 
	$color-grayish: #EDEDED;

	h1, h2 {
		color: $color-primary-heading; 
	}

	h3, h4, h5, h6 {
		color: #000;
	}

	.grid {
		margin-left: -32px;
		margin-right: -32px;

		> * {
			padding-left: 32px; 
			padding-right: 32px;
		}
	}

	@import 'mixin/background'; 

	@import 'components/article';
	@import 'components/pagefooter';
	@import 'components/header';
	@import 'components/footer';
	@import 'components/slider';
	@import 'components/section';
	@import 'components/text';
	@import 'components/button';
	@import 'components/fillbox';
	@import 'components/breadcrumb';
	@import 'components/brick';
	@import 'components/pagination';
	@import 'components/list'; 
	@import 'components/mobilemenu'; 
}

