@import 'master';

.is-child-theme {
	$color-pimary-light: #ce5095; 
	$color-pimary-medium: #a41680; 
	$color-pimary-dark: #742480; 
	$color-primary-heading:#a71680;
	$color-black: #000; 
	$color-white: #fff; 
	$color-grayish: #EDEDED;
	$none: transparent;

	$mobile-side-padding: 2em; 
	
	$base: 8px;

	h1, h2 {
		color: $color-primary-heading; 
	}

	h3, h4, h5, h6 {
		color: #000;
	}

	ul, ol {
		list-style: none;
		li:before {
			top: 0.7em !important;
			height: 2px !important;
		}
	}

	.grid {
		margin-left: -32px;
		margin-right: -32px;

		> * {
			padding-left: 32px; 
			padding-right: 32px;
		}
	}

	div:focus,
	a:focus,
	label:focus,
	section:focus {
		outline-color: #d35098;
	}


	@import 'mixin/background'; 

	@import 'animations'; 

	@import 'components/accordion';
	@import 'components/hero';
	@import 'components/article';
	@import 'components/pagefooter';
	@import 'components/header';
	@import 'components/footer';
	@import 'components/slider';
	@import 'components/section';
	@import 'components/text';
	@import 'components/button';
	@import 'components/fillbox';
	@import 'components/breadcrumb';
	@import 'components/brick';
	@import 'components/pagination';
	@import 'components/list'; 
	@import 'components/mobilemenu'; 
	@import 'components/scrolldots'; 

}

