.c-dropdown {
    position: relative;
  }

  .c-dropdown__toggle {
    cursor: pointer;
  }
  
  li.menu-item{
    text-align:left; 
  }

  %caret { 
    color:black; 
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .c-dropdown__toggle::after {
    @extend %caret;
    display: inline-block !important;    
    content:''; 
    transform: rotate(0);
    transition: transform .15s ease-in-out;
  }

  
  .c-dropdown.is-active > .c-dropdown__toggle:after {
    transform: rotate(180deg);
  }
  
  .c-dropdown .c-dropdown__body {
    position: relative;
    left: 0;
    top: 100%;
  }

  
  .c-dropdown > .c-dropdown__body {
    position:static; 
    background-color: $color-white;
    color:$color-black; 
    text-align: left;
    display: none; 
    visibility: hidden;
    line-height: 1em;

  }
  
  .c-dropdown.is-active > .c-dropdown__body {
    background-color: $color-white;
    
    a {
      color:$color-grayish-darker; //$color-black; 
      font-size: 0.85em; 
      padding-top:0px; 
    }
    
    line-height: .55em; 

    visibility: visible;
    display: block;

    transform: translateY(-40px) scale(1);
    transform-origin: top;
    transition: none !important; 
    padding-left:10px;
  }

    .menu-item > a:hover {
      color: $color-black  !important; 
    }



  .c-dropdown.is-active > .c-dropdown__body  .current-menu-item  {
    a { 
      color: $color-black !important; 
    }
  }
  
  
  .c-header-desktop {
    .sub-menu {
      background-color: $color-white;
      top: 150%;
      left: -14px;
      width: 300%;
      width: max-content;
      max-width: 300%;
      border-radius: 2px;
      padding: $base 0;
      li {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
      }
  
      li:after {
        display: none;
      }
  
      li a {
        display: block;
        padding: $base $base * 2;
        color: $color-black;
      }
  
    }
    .c-dropdown.is-active {
      .c-dropdown__toggle {
        color: black;
      }
    }
    
  }
  .c-header-mobile {
    .sub-menu {
      margin-top: $base / 2;
      margin-bottom: $base * 1.5;
    }
    .sub-menu li {
      margin: 0;
    }
    .sub-menu li a {
      font-size: 10px;
    }
  
    .c-dropdown {
      .c-dropdown__body {
        display: none;
        position: initial;
      }
    }
    .c-dropdown.is-active {
      .c-dropdown__body {
        display: block;
      }
    }
  }
  